@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --main-font: "Source Sans Pro", 'sens-serif';
    --secondary-font: 'Herr Von Muellerhoff', 'cursive',
    --body-font: 'Cabin' 'sans-serif';
    --main-font-color-dark: #252525;
    --secondary-font-color: #c59d5f;
    --body-font-color: #515151;
}

html{
    font-family: var(--body-font);
    font-size: 10px;
    color: var(--body-font-color);
    scroll-behavior: smooth;
}

section{
    padding: 3.9rem 0;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
    max-width: 100%;
}

p{
    font-size: 1.6rem;
}

.container{
    width: 100%;
    max-width: 122.5rem;
    margin: 0 auto;
    padding: 0 2.4rem;
}


/* header */
header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0,0.5), transparent);
}

.nav{
    height: 7.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-toggle{
    color: white;
    font-size: 2.2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2.5rem;
    z-index: 10;
    cursor: pointer;
}

.fa-times{
    display: none;
}

.nav-list{
    position: fixed;
    width: 80%;
    background-color: var(--main-font-color-dark);
    left: 0;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 4.4rem;
    list-style: none;
    z-index: 9;
    justify-content: space-around;
}

.nav::before{
    content: '';
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vh;
    height: 100vh;
    background-color: black;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.5s;
    z-index: 8;
}
